.pokeCardDiv {
    width: 40vw;
    background-image: linear-gradient(25.41deg, #FFE1C6 4.87%, #010D90 94.37%);
    margin-bottom: 20px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px rgb(62, 211, 189); */
}

.pokeCardImg {
    width: 100%;
}

.pokeNameAndPokedex {
    background-color: white;
    padding-bottom: 9%;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokeCardP {
    margin-top: 7%;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}

@media ( min-width: 768px ) {
    
    .pokeCardDiv {
        width: 30%;
    }

    .pokeCardP {
        font-size: .8rem;
    }
}
