.secStyle {
    height: 90vh;
    width: 50%;
    margin: 20px auto;
    background-color: #CCDADD;

}

.imgStyle {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputStyle {
    height: 30px;
    width: 300px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 2rem;
    padding: 15px;
}

.scheissDiv {
    height: 50px;
    width: 305px;
    background-color: yellow;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    position: relative;
}

.pokeIMG {
    width: 305px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -158px;
    left: 0;
}

.indexStyle {
    text-align: center;
    font-size: 3.6rem;
    margin: 15px 0;
}